.App {
  text-align: center;
  
}


.container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  /* border: 1px solid blue; */
}

.card {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  /* background: green; */
}

.card:hover {
  cursor: pointer;
}

#card-visible > img {
  opacity: 100%;

}

#card-hidden > img {
  opacity: 1%;
}



